; Set URL for your scoped packages.
; For example package with name `@foo/bar` will use this URL for download
@heun3344:registry=https://gitlab.nexon.com/api/v4/packages/npm/

; Add the token for the scoped packages URL. This will allow you to download
; `@foo/` packages from private projects.
//gitlab.nexon.com/api/v4/packages/npm/:_authToken=NCzPj1sQ8B1gDY8xx8BN

; Add token for uploading to the registry. Replace <your_project_id>
; with the project you want your package to be uploaded to.
//gitlab.nexon.com/api/v4/projects/8162/packages/npm/:_authToken=NCzPj1sQ8B1gDY8xx8BN
